
<head>
  <link href="https://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/style.css' rel="stylesheet">
</head>

<style>
  .username {
    display: inline-block;
    text-align: center;
  }

  h2 {
    display: inline-block;
    text-align: center;
  }

  h3 {
    display: inline-block;
    text-align: center;
  }
</style>

<h2> Profile Page </h2>
 <img src="/images/Giraffe.png" alt="profile" width="140", height="140"><br>
<h2>
  {{#each user}}
  <h3>
    {{this.username}}
  </h3>

  <h4>
    {{this.email}}
  </h4>

  {{/each}}
  
  <h2>List of Friends:</h2>
{{#each user}}
  {{#each this.friends}}
  <li>
  {{this}}
  </li>
  {{/each}}
  {{/each}}
</h2>
